language: python
python:
  - "3.6"      # current default Python on Travis CI
  - "3.7"
  - "3.8"
  - "3.8-dev"  # 3.8 development branch

install:
  - pip install -r server/requirements.txt -r requirements-dev.txt codecov pytest-cov

script:
  - make tests
  - codecov 
